.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
}



.butonBox{
    display: flex;
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
    align-self: center;
    justify-content: center;
}

.butonlar{
    width: 100%;
    height: 100%;
    border: 25px solid transparent;

}

.butonlar a{
    text-decoration: none;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.butonlar:hover{
    background-color: aquamarine;
}

/* ------------KİŞİSEL BİLGİLER SAYFASI------------ */

.infoContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
}

.perInfoHead1{
    width: 25%;
    text-align: center;
}

.perInfoHead2{
    width: 75%;
    text-align: center;
}

.personalIndex{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* box-sizing: border-box; */
}

.kisiselForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 10px;
    position: relative;
}

.butonicin{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 50%;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    box-sizing: border-box;
    gap: 10px;
}

.sagAltButon{
    display: flex;
    justify-content:end; 
    width: 80%;
}

.butonicin button{
    display: flex;
    justify-content: end;
    align-items: center;
    /* position: absolute; */
}

.kisFormElements{
    display: flex;
    flex-direction: row;
    width: 90%;
    /* height: 50%; */
    justify-content: space-between;
    align-items: center;
}

.kasaForm{
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    border-bottom: 5px solid black;
    box-sizing: border-box;
}

.yatirimEkle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kasaFormElements{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
}

.yatirimElements{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.yatirimItems{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

